<div class="min-h-screen w-full bg-[radial-gradient(circle,_#d1d5db_1.2px,_transparent_1px)] bg-[size:18px_18px] font-mono p-8">
  <div class="text-3xl font-bold text-gray-700">
    erichasegawa.com
  </div>
  <div class="text-gray-700 mt-4 text-[0.9rem]">
    Hi, I'm <a href="https://www.linkedin.com/in/erichasegawa/" class="text-blue-500 underline">Eric</a>.
    I'm a software engineer and founder, currently building <a href="https://www.streamlineclimate.com/" class="text-blue-500 underline">Streamline</a>,
    a platform that helps people find and win grants 10x faster.
  </div>
  <div class="text-gray-700 mt-1 text-[0.9rem]">
    Previously, I co-founded <a href="https://www.linkedin.com/company/sanctuary-inc/" class="text-blue-500 underline">Sanctuary Sneakers</a>,
    a data-driven sneaker marketplace that was acquired in 2024. 
    I've also worked at companies Like <a href="https://sentry.io/" class="text-blue-500 underline">sentry.io</a>,
    <a href="https://www.affirm.com/" class="text-blue-500 underline">Affirm</a>, 
    and <a href="https://www.capitalone.com/" class="text-blue-500 underline">Capital One</a>.


  </div>
  <%# TODO:
    // - Write actual copy for introductory page.
    // - Add an about page
    //   -> ~Three paragraph biography
    //   -> Links to social media
    //   -> Link to resume
    // - Implement basic auth
    // - Implement a blog
  %>
</div>
