<div>
  <div class="text-gray-700 mt-4 text-[0.9rem]">
    Hi, I'm <a href="https://www.linkedin.com/in/erichasegawa/" class="text-blue-500 underline">Eric</a>.
    I'm a software engineer and founder, currently building <a href="https://www.streamlineclimate.com/" class="text-blue-500 underline">Streamline</a>,
    a platform that helps people find and win grants 10x faster.
  </div>
  <div class="text-gray-700 mt-1 text-[0.9rem]">
    Previously, I co-founded <a href="https://www.linkedin.com/company/sanctuary-inc/" class="text-blue-500 underline">Sanctuary Sneakers</a>,
    a data-driven sneaker marketplace that was acquired in 2024. 
    I've also worked at companies Like <a href="https://sentry.io/" class="text-blue-500 underline">Sentry</a>,
    <a href="https://www.affirm.com/" class="text-blue-500 underline">Affirm</a>, 
    and <a href="https://www.capitalone.com/" class="text-blue-500 underline">Capital One</a>.
  </div>
  <%# TODO:
    // - Implement basic auth
    // - Implement a blog
  %>
</div>
